@charset "utf-8";
/* Portfolion CSS-tiedosto */

body {
		font-family: 'Montserrat', sans-serif;
		background-color: #00b4cc;
	}
	
	html {
  		position: relative;
  		min-height: 100%;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}
	
	div {
		margin-top: 1%;
	}
	
	#search-form, .form-control {
    	margin-bottom: 20px;
	}
	
	img {
		-width: 100px;
		-height: 175px;
	}
	
	h1 {
		color: dodgerblue;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
		
	a {
		
	}
	
	.container {
		
		background: rgba(231,231,231,0.8);
		border-radius: 4px;
		padding: 15px;
	}
	
	.jumbotron {
		background: rgba(231,231,231,0);
		border-radius: 15px;
	}
	
	.footer {
  		position: relative;
  		bottom: 0;
  		width: 100%;
  		/* Set the fixed height of the footer here */
  		height: 225px;
  		line-height: 60px; /* Vertically center the text there */
  		background-color: #2E2E2E;
		
	}
	
	#loppu {
		background: rgba(231,231,231,0.8);
	}
		
	#koulutuskokemus {
		padding: 20px;	
	}
	
	#ajatuksia {
		padding: 20px;
		margin-bottom: 100px;
	}
	
	button {
		margin-bottom: 10px;
	}
	
	button:hover, select:hover {
		cursor: pointer;
	}

